# Ignore everything
*

# Don't ignore this file
!.gitignore

# Allow Git to see the build directory itself
!build/

# Inside build/, ignore everything...
build/*

# ...except the specific files you want to track
!build/compare.C
!build/compare2.C
!build/compare3.C
!build/submit.sh


# Allow Git to see the src directory itself
!src/

# Inside src/, ignore everything...
src/*

# ...except the specific files you want to track
!src/NucTechDetectorConstruction.cc
!src/NucTechTechRunAction.cc
!src/NucTechSteppingAction.cc
!src/NucTechActionInitialization.cc
!src/NucTechRunAction.cc


# Allow Git to see the include directory itself
!include/

# Inside src/, ignore everything...
include/*

# ...except the specific files you want to track
!include/NucTechDetectorConstruction.hh
!include/NucTechTechRunAction.hh
!include/NucTechSteppingAction.hh