# Ignore everything
*

# Don't ignore this file
!.gitignore

# Allow Git to see the build directory itself
!build/

# Inside build/, ignore everything...
build/*

# ...except the specific files you want to track
!build/compare.C
!build/compare2.C
!build/compare3.C
!build/compare4.C
!build/submit.sh
!build/submit_viking.sh
!build/save_spectra_to_file.C
!build/beam.mac
!build/init_Photonhist.C
!build/overlay_materials.C
!build/old/*


# Allow Git to see the src directory itself
!src/

# Inside src/, ignore everything...
src/*

# ...except the specific files you want to track
!src/*


# Allow Git to see the include directory itself
!include/

# Inside src/, ignore everything...
include/*

# ...except the specific files you want to track
!include/*

!CMakeLists.txt

